/*.nav-item .active {
  background-color: #f14e0d;
}*/

#banner {
  background-color: #f3e9f1; 
}

.card img {
  max-width: 80%;
  height: auto;
  border: solid 2px #ca7c59;
  margin: auto;
}

.card {
  background-color: #eacdc2;
  max-width: 90%;
  margin: auto;
}

.teddy_view_nav {
  display: flex;
 
  align-self: center;
  margin-top: 10px;
}

.basket_stuff {
  
  margin-top: 10px;
}

.subtotal {
  color: #646464;
}

#total_order p {
  color: black;
  font-size: large;
  font-weight: bold;
}

#color_infos, #quantity_infos, #order_settings {
  display: flex;
  align-items: center
}

#order_settings {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  max-width: 90%;
  margin: 10px auto 10px auto;
}

.quantity_infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quantity_infos a {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #85bdfa;
  padding: 7px 15px 7px 15px;
  color: white;
  margin-left: 5px;
}

.quantity_title {
  background-color: #007bff;
  width: 100px;
  height: 40px;
  color:white;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  margin-bottom: 0px;
}

.basket_stuff {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.remove_all a {
  background-color: #007bff;
  width: 140px;
  height: 40px;
  color:white;
  border-radius: 5px;
  padding: 9px 20px 9px 20px;
  margin-bottom: 0px;
}

.modify_number_basket {
  display: flex;
  justify-content: start;
  align-items: center;
}

.teddy_item_order_color {
  margin: 5px;
  background-color: #ffffff;
  padding: 5px 10px 0px 10px;
}

.teddy_item_order {
  margin: 5px;
  background-color: #f3e9f1;
  padding: 5px 10px 0px 10px;
  margin-bottom: 15px;
}

.subtotal_item p {
  color : rgb(73, 70, 70);
}

.make_subtotal {
  font-size: 0.9rem;
  text-align: start;
  
}

p {
  color: #a56574;
}

#color_choice, #quantity_choice {
  text-align: center;
  border: solid 1px #007bff;
  color: grey;
  height: 40px;
  margin-left: 5px;
}

#color_choice {
  display: flex;
  align-items: center;
  width: 100px;
  text-align: start;
  padding-left: 5px;
  border-radius: 5px;
}

#quantity_choice {
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;
  border-radius: 5px;
}

/*
header {
  display: flex;
  flex-direction: column;
}*/

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #ff9f10;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: rgb(253, 232, 37);
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #ecb4b4;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
