/*.nav-item .active {
  background-color: #f14e0d;
}*/

#banner {
  background-color: #f3e9f1;
  border-radius: 5px;
  border: solid 1px #dabdc4;
}

.nav-link {
  text-align: center;
  font-weight: bold;
  border: solid 1px;
  margin: 2px;  
}

.nav-item {
  width: 33%;
}

.nav {
  width: 50%;
}

.active {
  border: solid 1px #007bff;
}

i {
  font-size: 1.2rem;
}

#total_articles {
    padding: 5px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 0.8rem;
  }

.card img {
  max-width: 90%;
  height: auto;
  border: solid 2px #ca7c59;
  margin: auto;
}

.card {
  background-color: #eacdc2;
  max-width: 95%;  
  padding: 2% 2% 0% 2%;
  height: 100%;
  margin: 5px auto 5px auto;
}

.choice_setting {
  background-color: #a58a80;
  max-width: 95%;  
  padding: 0% 0% 2% 0%;
  height: 100%;
  border-radius: 5px;
  border: solid 1px #dabdc4;
  margin: auto;
}

.teddy_view_nav {
  display: flex; 
  align-self: center;
  margin-top: 10px;
}

.basket_stuff {  
  margin-top: 10px;
}

.subtotal_item {
  color: #646464;
  font-weight: bold;
}

#total_order p {
  color: black;
  font-size: large;
  font-weight: bold;
}

#color_infos {
  display: flex;
  justify-content: flex-start;
  
}

.option_stuff {
  max-width: 95%;  
  margin: auto;
}

.basket_stuff .btn {
  width: 242px;
}

.quantity_infos {
  display: flex;
  justify-content: flex-end; 
}

.quantity_infos a {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #85bdfa;
  padding: 0px 10px 7px 10px;
  color: white;
  font-size: x-large;
  text-align: center;
  margin-left: 5px;
}

.quantity_title {
  background-color: #007bff;
  width: 107px;
  height: 40px;
  color:white;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  margin-bottom: 0px;
  font-size: 1em;
}

.basket_stuff {
  max-width: 95%;  
  margin: auto;
}



.remove_all {
  background-color: #007bff;
  width: 140px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  padding: 9px 20px 9px 20px;
  
  a {
    color:white;
  }
}

.modify_number_basket {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
 
}

.teddy_item_order_color {
  margin: 0px 5px 5px 5px;
  background-color: #ffffff;
  padding: 5px 10px 0px 0px;
}

.teddy_item_order {
  margin: 0px 5px 5px 5px;
  background-color: #f3e9f1;
  padding: 5px 10px 0px 0px;
  margin-bottom: 15px;
}

.subtotal_item p {
  color : #494646;
  font-size: 0.8rem;
}

.make_subtotal {
  font-size: 0.8rem;
  text-align: start;
  
}

.title_line p {
    margin-bottom: 0px;
    color: black;
    font-weight: 400;
  }  


p {
  color: #774d57;
}

#color_choice, #quantity_choice {
  text-align: center;
  border: solid 1px #007bff;
  background-color: white;
  color: grey;
  height: 40px;
  margin-left: 5px;
}

#color_choice {
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: center;
  
  border-radius: 5px;
}

#quantity_choice {
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;
  border-radius: 5px;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */


/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: 2px solid #7810ff;
  margin-bottom: 2rem;
  max-width: 95%;
  margin: 0rem auto 1rem auto;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: rgb(253, 232, 37);
  border-top: .1rem solid #e5e5e5;
}

h1 { 
  font-family: 'Belligerent-Madness';
  font-size: 7rem;
}  

@media (max-width: 576px) {
  p {
    font-size: 0.7em;
  }
  
  h1 {
    font-size: 3.4rem;
  }
  .nav {
    width: 100%;
  }
  .nav-item {
    width: 100%;
  }
  .nav-link {
    font-size: 0.8em;
    height: auto;
   
    text-align: center;  
  }
  .quantity_infos, #color_infos {    
    justify-content: center;
  }
   
}

@media (min-width: 576.02px) {
  .teddy_item_order_color {
    margin: 0px 15px 5px 15px;  
    padding: 5px 10px 0px 0px;
  }

  .teddy_item_order {
    margin: 0px 15px 25px 15px;  
    padding: 5px 10px 0px 0px;    
  }
}



@font-face {
  font-family: 'Belligerent-Madness';
  src:url('../Fonts/Belligerent-Madness.ttf.woff') format('woff'),
      url('../Fonts/Belligerent-Madness.ttf.svg#Belligerent-Madness') format('svg'),
      url('../Fonts/Belligerent-Madness.ttf.eot'),
      url('../Fonts/Belligerent-Madness.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}