
$color1: #8f5bfe;
$color2: #e68b08;
$color3: #bb7383;
$color4: #d5813a;

$pal_col_1: #ad6caa;
$pal_col_2: #ca7c59;
$pal_col_3: #f3ebf3;
$pal_col_4: #935ff3;
$pal_col_5: #e0b39d;
$pal_col_6: #bc9cf9;
$pal_col_7: #cfadd9;
$pal_col_8: #eacdc2;
$pal_col_9: #dfc9e7;
$pal_col_10: #d4c4f4;
